.formulierinfo h1 {
    text-align: center;
    margin: 0;
    font-size: 30px;
}

.formblock h4 {
    margin: 0;
    font-size: 17px;
}

.formblock a {
    font-size: 15px;
    background-color: #f6f6f6;
    padding: 10px;
    display: inline-block;
    border-top: 2px solid #cccccc;

}

.formbl {
    padding-bottom: 20px;
}

.formulierinfo button a {
    text-decoration: none;
    color: white;
}

.formulierheader {
    text-align: center;
}

.formulierback {
    float: left;
}

.formulierdelete {
    float: right;
}

.formuliertitle {
    margin:0 auto;
    display:inline-block;
}

.fullform {
    display: flex;
}

.leftform {
    width: 35%;
        padding-right: 20px;
}

.rightform {
    width: 65%;

}

.messageblock a {
    width: calc(100% - 20px);
}