.main-info {
    padding-top: 136px;
    font-family: "Open Sans";

}

.main-info .upper {

    width: 100%;
    background-color: #f6f6f6;
    margin-top: 30px;
    padding: 0px 20px;
    font-size: 20px;
}

.main-info .upper1,
.upper2, .upper3 {
    width: 30%;
    background-color: #f6f6f6;
    margin-top: 30px;
    display: inline-block;
}

.upper2, .upper3 {
    margin-left: 5%
}

