.leftcontent {
    background-color: white;
    width: 300px;
    margin-right: 50px;
    border: 2px solid #cccccc;
    height: 100%;
}

.leftcontent ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

.leftcontent ul li {
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
}

.leftcontent ul li:hover {
    background-color: #eeeeee;
}

.leftcontent h2 {
    margin: 0;
    font-size: 20px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    background-color: #cccccc;
    padding: 10px;
}

.fullcontent {
    margin-top: 30px;
    display: flex;
}

.rightorder {
    width: calc(100% - 350px);
}

.rightorder h1 {
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-size: 30px;
}

.rightorder table {
    width: 100%;
    margin-top: 20px;
}

.rightorder table tr td {
    width: 20%;
    height: 100px;
    text-align: center;
}

.rightorder .breadcrumb a {
    text-decoration: none;
    color: inherit;
}

.rightorder table tr img {
    width: 100%;
}

table thead tr th {
    background-color: #f6f6f6;
    text-align: center;
    padding: 10px 5px;
}

tbody tr th {
    height: 10px;
    font-size: 17.5px;
}